<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Management Admin Page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('partials/nav') %>
    <main>
        <h1 class="welcome">Welcome!</h1>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
